---
http_interactions:
- request:
    method: get
    uri: http://apitest.sertifi.net/api/Students
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":1,"Name":"Jack","StartYear":2013,"EndYear":2016,"GPARecord":[3.4,2.1,1.2,3.6]},{"Id":2,"Name":"Jill","StartYear":2010,"EndYear":2013,"GPARecord":[3.3,2.3,1.1,3.7]},{"Id":3,"Name":"Bob","StartYear":2010,"EndYear":2012,"GPARecord":[2.3,2.5,2.8]},{"Id":4,"Name":"Alice","StartYear":2013,"EndYear":2016,"GPARecord":[3.6,2.9,3.4,3.7]},{"Id":5,"Name":"Eve","StartYear":2012,"EndYear":2015,"GPARecord":[3.3,2.5,1.1,3.7]},{"Id":6,"Name":"Malcom","StartYear":2011,"EndYear":2014,"GPARecord":[3.8,2.7,1.1,3.7]},{"Id":7,"Name":"Don","StartYear":2009,"EndYear":2012,"GPARe[...]
